.card-container {
    position: relative;
    margin-bottom: 3rem;
}

.card-img {
    height: 17rem;
    width: 20rem;
    border-radius: 10px;
    /* box-shadow: rgb(255, 255, 255) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: rgba(99, 108, 255, 0.3) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(99, 108, 255, 0.05) 0px 0px 0px 1px; */
    /* border: 0.1px solid #636CFF; */
    object-fit: cover;
}


.locicon-name {
    color: #fff;
    position: absolute;
    top: 14rem;
    left: 2rem;
}

.location-icon {
    margin-right: 10px;
}